<!-- <div class="doctors-prescription-container"> -->
    <h1 mat-dialog-title class="prescription-title  label-color">Prescription</h1>

    <div class="doctor-info row">
        <div class="pLabel col-4">Doctor Name</div>
        <div class="doctor-name col-8">Dr. Kishore Kumar M.B.B.S, M.S(Ortho)</div>
    </div>
    
    <div class="doctor-info row">
        <div class="pLabel col-4">Revisit Date</div>
        <div class="doctor-name col-8">13-Jul-2022</div>
    </div>

    <div class="prescription-info row">
        <div class="pLabel col-4 presLabel"> Suggested</div>
        <div class="col-8">
            <div class="prescription-box ">
                <div class="prescription-text">
                    <div class="mText">
                        1. TAB. DEMO MEDICINE 1  1 Morning 1 Night(Before Food) 10 Days(20 Tab)
                    </div>
                    <div class="mText">
                        2. CAP. DEMO MEDICINE 2 1 Morning 1 Night(Before Food) 10 Days(20 Cap)
                    </div>
                    <div class="mText">
                        3. TAB. DEMO MEDICINE 3 1 Morning 1 Night(Before Food) 10 Days(20 Tab)
                    </div>
                    <div class="mText">
                        4. TAB. DEMO MEDICINE 4 1 Morning 1 Night(Before Food) 10 Days(20 Tab)
                    </div>
                    <div class="mText">
                        5. TAB. DEMO MEDICINE 5 1 Morning 1 Night(Before Food) 10 Days(20 Tab)
                    </div>
                    <div class="mText">
                        6. TAB. DEMO MEDICINE 6 1 Morning 1 Night(Before Food) 10 Days(20 Tab)
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="pBCloseBtn">
        <button mat-raised-button color="primary" mat-dialog-close >Close</button>
    </div>
<!-- </div> -->