<div class="forgot-password-container row" *ngIf="data.name == 'forgotPassword'">
    <h1 mat-dialog-title class="fp-title label-color">Forgot Password ?</h1>
    <!-- <mat-grid-list cols="2" > -->
        <!-- <mat-grid-tile > -->
        <div class="fp-content col-8">
            <p class="email-text-msg">Please enter your registered email address</p>
            <div class="user-emailId">
                <label class="emailId-label">Email Address</label><br/> 
                <input placeholder="Enter Email Address" class="login-field emailField" [(ngModel)]="emailFP" type="email" matInput>
            </div>
        </div>
    <!-- </mat-grid-tile> -->
    <!-- <mat-grid-tile> -->
        <div class="lock-icon col-4">
            <i class="fa fa-lock" aria-hidden="true"></i>
        </div>
    <!-- </mat-grid-tile> -->

    <!-- </mat-grid-list> -->
        <div class="submitButton">
            <button mat-raised-button color="primary" (click)="submit('fp')">Submit</button>
        </div>
        <div class="fp-textInfo">Note: A verification code will be sent to your registered email address</div>
</div>

<div class="forgot-username-container row" *ngIf="data.name == 'forgotUsername' && !isSubmittedEmail">
    <h1 mat-dialog-title class="fuTitle label-color">Forgot Username ?</h1>
        <div class="fp-content col-8">
            <p class="email-text-msg">Please enter your registered email address</p>
            <div class="user-emailId">
                <label class="emailId-label">Email Address</label><br/> 
                <input placeholder="Enter Email Address" [(ngModel)]="emailFU" class="login-field emailField" type="email" matInput>
            </div>
        </div>
        <div class="lock-icon col-4">
            <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div class="submitButton">
            <button mat-raised-button color="primary" (click)="submit('fu')">Submit</button>
        </div>
</div>

<div class="fuSuccessMsg" *ngIf="isSubmittedEmail">
    Username has been sent to your registered Email
</div>
