<div class="patient-information-container">
    <h1 mat-dialog-title class="pI-title  label-color">Patient Information</h1>
    <hr/>
    <div class="patient-details">
        <div class="p-name">
            <label class="p-label">Patient Name</label>:
            <span class="p-info">{{data.name}}</span>
        </div>
        <div class="p-name">
            <label class="p-label">Patient Id</label>:
            <span class="p-info">{{data.pId}}</span>
        </div>
        <div class="p-name">
            <label class="p-label">Email Id</label>:
            <span class="p-info">srv@gmail.com</span>
        </div>

        <div class="p-name">
            <label class="p-label">	Phone Number</label>:
            <span class="p-info">{{data.pNumber}}</span>
        </div>
        <div class="p-name">
            <label class="p-label">Age</label>:
            <span class="p-info">41</span>
        </div>
        <div class="p-name">
            <label class="p-label">Sex</label>:
            <span class="p-info">Male</span>
        </div>

        <div class="p-name">
            <label class="p-label">Location</label>:
            <span class="p-info">Hyderabad</span>
        </div>
        <div class="p-name">
            <label class="p-label">Speciality</label>:
            <span class="p-info">{{data.speciality}}</span>
        </div>

        <div class="p-name">
            <label class="p-label">Consulted Doctor</label>:
            <span class="p-info">{{data.consultedDoctor}}</span>
        </div>

        <div class="p-name">
            <label class="p-label">Type of Consultation</label>:
            <span class="p-info">{{data.typeOfConsultation}}</span>
        </div>

        <div class="p-name">
            <label class="p-label">Date of Consultation</label>:
            <span class="p-info">{{data.dateOfAppointment}}</span>
        </div>

        <div class="p-name">
            <label class="p-label">Date of Patient Registration </label>:
            <span class="p-info">29-MAY-2022</span>
        </div>
        <div class="p-name">
            <label class="p-label">Purpose of Visit</label>:
            <span class="p-info">General Checkup</span>
        </div>

        <div class="p-name">
            <label class="p-label">Consultation Fee</label>:
            <span class="p-info">500</span>
        </div>
        <div class="p-name">
            <label class="p-label">OP Validity</label>:
            <span class="p-info">15 Days</span>
        </div>

        <div class="p-name">
            <label class="p-label">Status</label>:
            <span class="p-info">{{data.status}}</span>
        </div>
        <div class="close-dialog">
            <button mat-raised-button color="primary" mat-dialog-close >Close</button>
        </div>

    </div>
</div>
