.delete-text {
    text-align: center;
    font-weight: 100;
    font-size: 18px;
    span{
        font-weight: bold;
    }
}

.delete-title{
    font-size: 26px;
    text-align: center;
}

.dDailogBtns{
    text-align: center;
    margin-top: 1em;
}

.db-button{
    margin-left: 1em;
}