.welcome-text, .front-desk-container{
    margin-top: 3em;
    height: 100%;
}
.front-desk-sidenav{
    height: 100%;
}
.front-desk-menu{
    width: 15%;
    background: #388ce2;
    border-radius: 5px;
    margin: 1em;
}

.list-options{
    text-align: center;
}

.module-content{
    margin-left: 291px !important;
}