<div class="home">
    <mat-sidenav-container class="front-desk-container">
        <mat-sidenav opened #sidenav mode="side" class="front-desk-menu">
            <mat-nav-list>
                <mat-list-item role="listitem">
                    <mat-icon mat-list-icon class="">apartment</mat-icon>
                    <span>FRONT DESK APP</span>
                </mat-list-item>
                <mat-selection-list #shoes [multiple]="false">
                    <mat-list-option class="list-options" [routerLink]="data.route" *ngFor="let data of uNavList" [value]="data.name">
                      {{data.name}}
                    </mat-list-option>
                  </mat-selection-list>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="module-content">
            <div class="" style="height:88vh">
                <!-- <app-dashboard></app-dashboard> -->
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
</div>
